@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}


.menu {
   background-color: #2c3e50;
  height: 100vh;
  padding-left: 40px;
  padding-top: 30px;
}

.logo {
  margin-left: 25%;
  color: #ffffff;
  margin-bottom: 40px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.layout.close {
  display: grid;
  grid-template-columns: 1fr;
}

.layout_header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.layout_menu {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.layout_content {
  text-align: center;
  padding-top: 30px;
}

.menu nav {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.header_nav {
   background-color: #e6ebf1;
  height: 80px;
    color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
}

.header-btn {
  margin-left: 20%;
}

.menu-btn {
  margin-bottom: 15px;
  display: grid;
  justify-self: right;
  margin-right: 45px;
  color: white;
  font-weight: 900;
}

/* estilização tabela */
.datatable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.datatable td,
.datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.datatable tr:hover {
  background-color: #ddd;
}

.datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5767aa;
  color: white;
}

/*estilizando ShowBookList*/
.ShowBookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.link-create-book {
  display: flex;
  margin-left: -65%;
}

.link-show-book-list {
  display: flex;
  margin-left: 25%;
}


/* botões */
.btn {
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.form-submit {
  background-color: #04aa6d;
}

.btn-show-book {
  background-color: #044caa;
}

.btn-edit-book {
  background-color: #04aa6d;
}

.btn-delete-book {
  background-color: #f40808;
}

.btn-create-book {
  background-color: #048eaa;
}

.btn-show-book-list {
  background-color: #048eaa;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-group label {
  align-self: self-start;
}

input[type="text"],
textarea {
  padding: 5px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilização tabela ShowBookDetails*/
.table-show-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.logolivraria-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
